/* ###### */
/* GLOBAL */
/* ------ */

*,
*::before,
*::after {
    /* border: .1px dotted hotpink; */
    box-sizing: border-box;
}

:root {
    --bs: .25em .25em .75em rgba(0,0,0, .25),
          .125em .125em .25em rgba(0,0,0, .15);

    --clr-light: white;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;

    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --fw-reg: 300;
    --fw-bold: 900;
}

/* ------ */

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

/* ------ */

@media (min-width: 800px) {

    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }

}


/* ########## */
/* TYPOGRAPHY */
/* ---------- */

h1,
h2,
h3,
p { margin-top: 0; }

h1,
h2,
h3 { line-height: 1.1; }

h1 { font-size: var(--fs-h1); }
h2 { font-size: var(--fs-h2); }
h3 { font-size: var(--fs-h3); }

h1,
h2 { margin-bottom: .25em; }

.section-subtitle-p--intro,
.section-subtitle-p--about {
    background: var(--clr-accent);
    font-family: var(--ff-secondary);
}

/* ---------- */

.intro-h1 {
    font-weight: var(--fw-reg);
    line-height: 1;
}

.services-h2 { color: var(--clr-accent); }

.services-h2::after {
    background: var(--clr-light); /* currentColor; */
    content: '';
    display: block;
    height: 1px;
    margin: .5em auto 1em;
    opacity: .25;
    width: 2em;
}

.section-subtitle-p {
    font-size: var(--fs-h3);
    margin: 0 0 1em;
    padding: .25em 1em;
}

.section-subtitle-p--intro {
    display: inline-block;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.section-subtitle-p--portfolio {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}

/* ---------- */

.span-intro-h1-own-line {
    display: block; /* always own line */
    font-weight: var(--fw-bold);
}

/* Nested images are displayed as block; see global resets atop */
/* valid html: blocks cannot be nested in inline parents (<a> is inline) */
/* interestingly, inline-block puts space around the anchors/imagess, block does not */
.a-portfolio-item {
    background: var(--clr-accent);
    display: inline-block;
}

.a-btn--services-to-portfolio {
    background: var(--clr-accent);
    color: var(--clr-dark);
    cursor: pointer;
    display: inline-block;
    font-weight: var(--fw-bold);
    margin-top: 3em;
    padding: .625em 2.5em;
    text-decoration: none;
    transition: transform .35s ease-in-out;
}

 /* hove scale transform only works if <a> has display: inline-block; */
.a-btn--services-to-portfolio:hover { transform: scale(1.1); }

/* Novel treatment; interesting. */
:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

/* ###### */
/* LAYOUT */
/* ------ */

header {
    display: flex;
    justify-content: space-between;
}

nav { display: none; } /* no show for now */

.portfolio-items {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

section { padding: 5em 2em; }

.section-intro { position: relative; }

.section-portfolio {
    background: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
}

.section-services {
    background-blend-mode: difference;
    background-color: var(--clr-dark);
    background-image: url('/img/services-bg.jpg');
    color: var(--clr-light);
    text-align: center;
}

.services-col {
    margin: 0 auto 2em;
    max-width: 500px;
}

/* ----- */

.about-img,
.intro-img { box-shadow: var(--bs); }

.portfolio-img { transition: opacity .35s; }

.portfolio-img:hover { opacity: .6; }

/* ----- */

@media (min-width: 600px) {

    /* --- Intro section set up. Very interesting, rich in novelty. Study, review. --- */
    .section-intro {
        column-gap: 2em;
        display: grid;
        grid-template-areas:
            'image heading'
            'image subtitle';
        grid-template-columns: min-content max-content;
        margin: 0 auto;
        width: min-content; /* totally new (to me) .. remember this */
    }

    .intro-h1 { grid-area: heading; }

    .section-subtitle-p--intro {
        align-self: start;
        grid-column: 1 / -1;
        grid-row: 2; /* must declare to overlap with the image */
        /* --- Grow section subtitle to the left under the image: --- */
        position: relative; /* make the growth with left & width possible */
        left: -1.5em;
        width: calc(100% + 1.5em); /* re-fill the gap after shift to left */
        /* could also be done with: position: absolute; right: 0; left: -1.5em; */
        z-index: -1; /* push down after relative's new stacking order */
        /* --- */
        /* left bleed + img width + column gap */
        /* 30(=1.5*1.25rem) + 250 + 32(=2*1rem) */
        padding-left: 312px;
    }

    .intro-img {
        grid-area: image;
        min-width: 250px; /* counter grid min-content column shrinking img to 0 */
    }
    /* --- EOF Intro section set up --- --- --- --- --- --- --- --- --- --- --- ---  */

    /* --- About section set up. Diff from Kevin's. --- */
    /* Kevin set section's max width with max-width, because no background color */
    .about-h2 { grid-area: heading; }

    .section-subtitle-p--about {
        grid-column: 2 / -2;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em); /* 1em to offset left shit, 1em for right bleed */
        padding-right: 254px; /* 36(column gap) + 200(img width) + 18(right bleed) */
        z-index: -1;
    }

    .article-about { grid-area: article; }

    /* 732 = 964 - 200 - 32, where 964 = see .section-services grid below */
    /* 200 min is arbitrary */
    .section-about {
        column-gap: 2em;
        display: grid;
        grid-template-columns: 1fr minmax(200px, 732px) 200px 1fr;
        grid-template-areas:
            '. heading  image .'
            '. subtitle image .'
            '. article  image .';
    }

    .about-img { grid-area: image; }
    /* --- EOF About section set up --- --- --- --- --- --- */

}

@media (min-width: 800px) {

    .services-h2,
    .a-btn--services-to-portfolio { grid-column: 2 / -2; }

    /* left bleed + img width + column gap */
    /* 36(=1.5*1.5rem) + 250 + 36(=2*1.125rem) */
    .section-subtitle-p--intro { padding-left: 322px; }

    .a-btn--services-to-portfolio { justify-self: center; }

    /* Effective content max-width: 964 = 300*3 + 32*2 */
    /* (close to Kevin's flexbox max-width: 1000;) */
    /* 200 min is arbitrary */
    .section-services {
        column-gap: 2em;
        display: grid;
        grid-template-columns: 1fr repeat(3, minmax(200px, 300px)) 1fr;
    }

    .services-col:first-of-type { grid-column: 2; }

}
