/* ###### */
/* GLOBAL */
/* ------ */

*,
*::before,
*::after {
    border: .1px dotted hotpink;
    box-sizing: border-box;
}

:root {
    --clr-light: white;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;

    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --fw-reg: 300;
    --fw-bold: 900;
}

/* ------ */

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

/* ------ */

@media (min-width: 800px) {
    :root {
        --ff-h1: 4.5rem;
        --ff-h2: 3.75rem;
        --ff-h3: 1.5rem;
        --ff-body: 1.125rem;
    }
}


/* ########## */
/* TYPOGRAPHY */
/* ---------- */

h1,
h2,
h3,
p { margin-top: 0; }

h1,
h2,
h3 { line-height: 1.1; }

h1 { font-size: var(--fs-h1); }
h2 { font-size: var(--fs-h2); }
h3 { font-size: var(--fs-h3); }

h1,
h2 { margin-bottom: .25em; }

.section-subtitle-p--intro,
.section-subtitle-p--about {
    background: var(--clr-accent);
    font-family: var(--ff-secondary);
}

/* ---------- */

.intro-h1 {
    font-weight: var(--fw-reg);
    line-height: 1;
}

.section-subtitle-p {
    font-size: var(--fs-h3);
    margin: 0 0 1em;
    padding: .25em 1em;
}

.section-subtitle-p--intro { text-transform: uppercase; }

/* ---------- */

.span-intro-h1-own-line {
    display: block; /* always own line */
    font-weight: var(--fw-bold);
}

/* Nested images are displayed as block; see global resets atop */
/* valid html: blocks cannot be nested in inline parents (<a> is inline) */
/* interestingly, inline-block puts space around the anchors/imagess, block does not */
.a-portfolio-item { display: inline-block; }


/* ###### */
/* LAYOUT */
/* ------ */

header {
    display: flex;
    justify-content: space-between;
}

nav { display: none; } /* no show for now */

section { padding: 5em 2em; }

.section-intro { position: relative; }

/* ----- */

@media (min-width: 600px) {

    /* --- Intro section set up. Very interesting, rich in novelty. Study, review. --- */
    .section-intro {
        column-gap: 2em;
        display: grid;
        grid-template-areas:
            'image heading'
            'image subtitle';
        grid-template-columns: min-content max-content;
        margin: 0 auto;
        width: min-content; /* totally new (to me) .. remember this */
    }

    .intro-h1 { grid-area: heading; }

    .section-subtitle-p--intro {
        align-self: start;
        color: var(--clr-accent); /* blend to hide, show ::after content instead */
        grid-column: 1 / 3;
        grid-row: 2;
        left: -1.5em;
        position: relative; /* to stretch with left width */
        width: calc(100% + 1.5em); /* re-fill the gap after shift to left */
        z-index: -1; /* re-stack after relative's new stacking order */
    }

    /* justify subtitle content with h1 content; extremely hackish */
    .section-subtitle-p--intro::after {
        color: var(--clr-dark);
        content: 'Front-end dev';
        left: 6.875em; /* trial-error; this is hackish "solution" */
        position: relative;
    }

    .intro-img {
        grid-area: image;
        min-width: 250px; /* counter grid min-content column shrinking img to 0 */
    }
    /* --- EOF Intro section set up -------------------------------------------------- */
}
